.git
node_modules
vendor
public/build
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.example
*.log
npm-debug.log*
.DS_Store
Thumbs.db
